*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.adduser
{
  width: 100%;
  display: flex;
 

}
.name
{
  height: 30px;
  width: 25%;
  padding: 10px;
  font-size: 18px;
 
}
.btn
{
  background-color: rgb(18, 160, 18);
  position: absolute;
  top: 41px;
  height: 37px;
  width: 10%;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px;
}
.user-detail
{
  display: flex;
 align-items: center;


}
.displayUser
{
  margin-top: 70px;
 
}
.user-info
{
  display: flex;
  justify-content: space-between;
  border: solid 1px rgba(0, 0, 0, 0.509);
  width: 60%;
  padding: 10px;
}
.R-Name
{

  background-color: crimson;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;


}
.dlt-button
{
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  right: 32%;
  
 
}